<p>this is error page</p>
<div class="section-heading">Personal Information</div>
            <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Email:</label>
                        <input type="text" class="form-control" id="Email" name="Email" required>
                    </div>
                    <!-- Other personal information fields can go here -->
                    
                    <div class="form-group">
                      <label class="form-label">First Name:</label>
                      <input type="text" class="form-control" id="FName" name="FName" required>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Profile Image:</label>
                      <input type="text" class="form-control" id="ProfileImage" name="ProfileImage" required>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Contact:</label>
                      <input type="text" class="form-control" id="Contact" name="Contact" required>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Business Name:</label>
                      <input type="text" class="form-control" id="BusinessName" name="BusinessName" required>
                    </div>
                    <div class="form-group">
                      <label class="form-label">Website:</label>
                      <input type="text" class="form-control" id="Website" name="Website" required>
                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="text" class="form-control" id="Password" name="Password" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="LName" name="LName" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Cover Image:</label>
                    <input type="text" class="form-control" id="CoverImage" name="CoverImage" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">DOB:</label>
                    <input type="text" class="form-control" id="DOB" name="DOB" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Designation:</label>
                    <input type="text" class="form-control" id="Designation" name="Designation" required>
                  </div>
                  
                    <!-- Additional personal information fields can go here -->
                </div>
            </div>

            <div class="section-heading">Socials</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Twitter:</label>
                        <input type="text" class="form-control" id="twitter" name="twitter">
                    </div>
                    <div class="form-group">
                        <label class="form-label">YouTube:</label>
                        <input type="text" class="form-control" id="instagram" name="instagram">
                    </div>
                    <div class="form-group">
                        <label class="form-label">GoogleMapUrl:</label>
                        <input type="text" class="form-control" id="instagram" name="instagram">
                    </div>
                    <div class="form-group">
                        <label class="form-label">DriveLink:</label>
                        <input type="text" class="form-control" id="instagram" name="instagram">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">LinkedIn:</label>
                        <input type="text" class="form-control" id="linkedin" name="linkedin">
                    </div>
                    <div class="form-group">
                        <label class="form-label">SnapChat:</label>
                        <input type="text" class="form-control" id="linkedin" name="linkedin">
                    </div>
                    <div class="form-group">
                        <label class="form-label">GoogleMapUrl:</label>
                        <input type="text" class="form-control" id="linkedin" name="linkedin">
                    </div>
                    <!-- Additional social media fields can go here -->
                </div>
            </div>

            <div class="section-heading">About</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">About Text:</label>
                        <textarea class="form-control" id="aboutText" name="aboutText" rows="4"></textarea>
                    </div>
                </div>
            </div>

            <div class="section-heading">Payments</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">PayPal:</label>
                        <input type="text" class="form-control" id="paypal" name="paypal">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Credit Card:</label>
                        <input type="text" class="form-control" id="creditCard" name="creditCard">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Bank Name:</label>
                        <input type="text" class="form-control" id="bankName" name="bankName">
                    </div>
                    <!-- Additional payment fields can go here -->
                </div>
            </div>