<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <title>bixid-select-your-model</title>
    <meta name="referrer" content="same-origin">
    <link rel="canonical" href="https://bixid.in/bixid-select-your-model.html">
    <meta name="robots" content="max-image-preview:large">
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="bixid-select-your-model">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=320">
    <link rel="stylesheet" href="   {{ url_for('static', filename='assets/css/site.6c86bc.css') }} " type="text/css">
</head>

<body id="b2">
    <script>var p = document.createElement("P"); p.innerHTML = "&nbsp;", p.style.cssText = "position:fixed;visible:hidden;font-size:100px;zoom:1", document.body.appendChild(p); var rsz = function (e) { return function () { var r = Math.trunc(1e3 / parseFloat(window.getComputedStyle(e).getPropertyValue("font-size"))) / 10, t = document.body; r != t.style.getPropertyValue("--f") && t.style.setProperty("--f", r) } }(p); if ("ResizeObserver" in window) { var ro = new ResizeObserver(rsz); ro.observe(p) } else if ("requestAnimationFrame" in window) { var raf = function () { rsz(), requestAnimationFrame(raf) }; requestAnimationFrame(raf) } else setInterval(rsz, 100);</script>

    <div data-block-group="0" class="v1 ps1 s1 c1 z114">
        <div class="ps2">
        </div>
        <div class="ps3 v1 s2">
            <div class="v2 ps4 s3 c2 z115">
                <p class="p1"><a href="index.html" class="f1">BixID<a href="index.html" class="f2">ID</a></a></p>
            </div>
        </div>
    </div>
    <div class="c30">
        <div class="ps1 v1 s173 z9">
            <div class="v2 ps16 s174">
                <div class="v2 ps5 s175">
                    <div class="v2 ps5 s92 c2 z116">
                        <p class="p1 f38">Select your model</p>
                    </div>
                    <div id="popup21" style="visibility:hidden;transform:translate3d(-999999px,0,0)"
                        class="popup v3 ps149 s98 c14 z11" data-popup-group="0" data-popup-type="0">
                        <div class="v2 ps77 s99 c15 z117">
                            <a onclick="return pop&&pop.closePopup('popup21',event)" style="cursor:pointer;" href="#"
                                class="a1"></a>
                        </div>
                        <div class="v2 ps130 s149 c2 z41">
                            <p class="p1 f52">Please enter the email address used to sign up</p>
                        </div>
                        <div class="v2 ps131 s150 c2 z111">
                            <input type="email" placeholder="Email" name="Reset-email-input" autocorrect="off"
                                autocapitalize="off" class="input19">
                        </div>
                        <div class="v2 ps132 s151 c2 z112">
                            <p class="p1 f52">Please enter BixID card number printed behind your card</p>
                        </div>
                        <div class="v2 ps133 s150 c2 z113">
                            <input type="email" placeholder="BixID card number" name="Reset-email-input"
                                autocorrect="off" autocapitalize="off" class="input20">
                        </div>
                        <div class="v4 ps134 s152 c19 z110 f53">
                            <p>Submit</p>
                        </div>
                        <div class="v4 ps135 s152 c27 z4">
                            <a onclick="pop.openClosePopup('popup21')" style="cursor:pointer;" href="#"
                                class="a1 f53">Login now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps150 s176 c10 z118">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z93">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z45">
                        <p class="p1 f36">Starter</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z27">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z46">
                    <p class="p1 f62">Unique Profile</p>
                    <p class="p1 f62">Unlimited Taps</p>
                    <p class="p1 f62">No App Needed</p>
                    <p class="p1 f62">Customer Support</p>
                </div>
                <div class="v2 ps37 s182 c2 z31">
                    <picture>
                        <source srcset=" {{ url_for('static', filename='assets/images/bix-metal-1-408.webp') }}   2x"
                            type="image/webp">
                        <source srcset=" {{ url_for('static', filename='assets/images/bix-metal-1-408.png') }}   2x">
                        <img src="{{ url_for('static', filename='assets/images/bix-metal-1-408.png') }}" class="i18">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z32">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z33">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps158 s176 c10 z29">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z119">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z21">
                        <p class="p1 f36">Gloss</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z49">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z28">
                    <p class="p1 f62">Unique Profile</p>
                    <p class="p1 f62">Unlimited Taps</p>
                    <p class="p1 f62">No App Needed</p>
                    <p class="p1 f62">Customer Support</p>
                </div>
                <div class="v2 ps37 s182 c2 z10">
                    <picture>
                        <source srcset="  {{ url_for('static', filename='assets/images/bixid-gloss-596.webp') }}   2x"
                            type="image/webp">
                        <source srcset="  {{ url_for('static', filename='assets/images/bixid-gloss-596.png') }}  2x">
                        <img src="{{ url_for('static', filename='assets/images/bixid-gloss-596.png') }}" class="i19">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z120">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z2">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps158 s176 c10 z22">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z66">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z15">
                        <p class="p1 f36">Matte</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z14">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z16">
                    <p class="p1 f62">Unique Profile</p>
                    <p class="p1 f62">Unlimited Taps</p>
                    <p class="p1 f62">No App Needed</p>
                    <p class="p1 f62">Customer Support</p>
                </div>
                <div class="v2 ps37 s182 c2 z121">
                    <picture>
                        <source srcset=" {{ url_for('static', filename='assets/images/bix-card-matte-380.webp') }}   2x"
                            type="image/webp">
                        <source srcset="  {{ url_for('static', filename='assets/images/bix-card-matte-380.png') }}  2x">
                        <img src="{{ url_for('static', filename='assets/images/bix-card-matte-380.png') }}"
                            loading="lazy" class="i20">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z122">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z123">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps158 s176 c10 z124">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z18">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z125">
                        <p class="p1 f36">Metallic</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z126">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z127">
                    <p class="p1 f62">Unique Profile</p>
                    <p class="p1 f62">Unlimited Taps</p>
                    <p class="p1 f62">No App Needed</p>
                    <p class="p1 f62">Customer Support</p>
                </div>
                <div class="v2 ps37 s182 c2 z128">
                    <picture>
                        <source srcset=" {{ url_for('static', filename='assets/images/bixid-mettalic-380.webp') }}   2x"
                            type="image/webp">
                        <source srcset=" {{ url_for('static', filename='assets/images/bixid-mettalic-380.png') }}  2x">
                        <img src="{{ url_for('static', filename='assets/images/bixid-mettalic-380.png') }}"
                            loading="lazy" class="i21">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z129">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z130">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps158 s176 c10 z131">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z132">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z133">
                        <p class="p1 f36">Premium Crystal</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z134">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z135">
                    <p class="p1 f62">Unique Profile</p>
                    <p class="p1 f62">Unlimited Taps</p>
                    <p class="p1 f62">No App Needed</p>
                    <p class="p1 f62">Customer Support</p>
                </div>
                <div class="v2 ps37 s182 c2 z136">
                    <picture>
                        <source srcset=" {{ url_for('static', filename='assets/images/bix-crystal-380.webp') }}  2x"
                            type="image/webp">
                        <source srcset=" {{ url_for('static', filename='assets/images/bix-crystal-380.png') }}   2x">
                        <img src="{{ url_for('static', filename='assets/images/bix-crystal-380.png') }}" loading="lazy"
                            class="i20">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z137">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z85">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps158 s176 c10 z138">
        <div class="ps2">
        </div>
        <div class="ps151 v1 s177">
            <div class="v2 ps152 s178 z99">
                <div class="v2 ps5 s179">
                    <div class="v2 ps153 s180 c2 z42">
                        <p class="p1 f36">Personalized Card</p>
                    </div>
                    <div class="v2 ps154 s180 c2 z8">
                        <p class="p1 f38">BixID</p>
                    </div>
                </div>
                <div class="v2 ps155 s181 c2 z54">
                    <p class="p1 f62">Completely customize every detail to your requirement</p>
                </div>
                <div class="v2 ps37 s182 c2 z55">
                    <picture>
                        <source
                            srcset=" {{ url_for('static', filename='assets/images/screenshot_2023-10-07_161401-596.webp') }}    2x"
                            type="image/webp">
                        <source
                            srcset=" {{ url_for('static', filename='assets/images/screenshot_2023-10-07_161401-596.jpg') }}   2x">
                        <img src="{{ url_for('static', filename='assets/images/screenshot_2023-10-07_161401-596.jpg') }}"
                            loading="lazy" class="i19">
                    </picture>
                </div>
                <div class="v2 ps156 s180 c2 z24">
                    <p class="p1 f36">999/-</p>
                </div>
                <div class="v4 ps157 s183 c31 z25">
                    <a href="{{ url_for('customer_request') }}" class="a1 f63">Get it now</a>
                </div>
            </div>
        </div>
    </div>
    <div data-block-group="0" class="v1 ps159 s53 c3 z139">
        <div class="ps2">
        </div>
        <div class="ps3 v1 s184">
            <div class="v2 ps49 s55 c2 z83">
                <p class="p1 f25">Bix<span class="f26">ID</span></p>
            </div>
            <div class="v2 ps46 s185">
                <div class="v2 ps5 s186">
                    <div class="v2 ps5 s187 c2 z84">
                        <p class="p1 f27">Copyright 2023</p>
                    </div>
                    <div class="v4 ps160 s188 c32 z140">
                        <a href="https://wa.me/917036093747" target="_blank" rel="noopener" class="a1 f64">Contact
                            us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c8">
    </div>
    <script>dpth = "/"</script>
    <script type="text/javascript" src=" {{ url_for('static', filename='assets/js/popup.a1c6f2.js') }}  "></script>
    <script type="text/javascript"
        src="  {{ url_for('static', filename='assets/js/bixid-select-your-model.6c86bc.js') }}  "></script>
</body>

</html>