<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details  {{ user.UserID }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        .form-group {
            margin-bottom: 25px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .section-heading {
            font-size: 24px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>User Details Form for {{ user.UserID }}</h2>
        
        <form action="{{ url_for('update_user') }}" method="post"enctype="multipart/form-data">
            <input type="hidden" class="form-control" id="Email" name="UserID" value='{{ user.UserID }}' required >
          <div class="section-heading">Personal Information</div>
          <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label class="form-label">Email:</label>
                      <input type="text" class="form-control" id="Email" name="Email" value='{{ user.Authentication.Username }}' required>
                  </div>
                  <!-- Other personal information fields can go here -->
                  
                  
                  <div class="form-group">
                    <label class="form-label">Password:</label>
                    <input type="text" class="form-control" id="Password" name="Password" value='{{ user.Authentication.Password }}' required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Confirm Password:</label>
                    <input type="text" class="form-control" id="ConfirmPassword" name="ConfirmPassword"  required>
                  </div>
                  <div class="form-group">
                    <label  calss="form-label" for="ProfileImage">Profile Image:</label>
                    <input type="hidden" class="form-control" id="Email" name="UserProfileDefault" value='{{ user.ProfileImage }}' required >
                    <input type="file" class="form-control"  id="ProfileImage" name="ProfileImage" accept="image/*">
                </div>
                <div class="form-group">
                    <label id="ProfilePreviewLabel">In Use:</label>
                    <img id="ProfilePreviewImage" src="{{ user.ProfileImage }}" alt="Preview" style="max-width: 100px; max-height: 100px;">
                </div>
                  
                  <div class="form-group">
                    <label class="form-label">Business Name:</label>
                    <input type="text" class="form-control" id="BusinessName" name="BusinessName" value='{{ user.BusinessName }}'  >
                  </div>
                  <div class="form-group">
                    <label class="form-label">Website:</label>
                    <input type="text" class="form-control" id="Website" name="Website" value='{{ user.Website }}'  >
                  </div>
                </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="FName" name="FName" value='{{ user.FirstName }}'required>
                  </div>
                <div class="form-group">
                  <label class="form-label">Last Name:</label>
                  <input type="text" class="form-control" id="LName" name="LName" value='{{ user.LastName }}' >
                </div>
                <div class="form-group">
                    <label class="form-label">Contact:</label>
                    <input type="text" class="form-control" id="Contact" name="Contact"value='{{ user.Contact }}'  >
                  </div>
                <div class="form-group">
                    <label  calss="form-label" for="ProfileImage">Cover Image:</label>
                    <input type="hidden" class="form-control" id="Email" name="UserCoverDefault" value="{{ user.CoverImage }}" required >
                    <input type="file" class="form-control" id="CoverImage" name="CoverImage" accept="image/*">
                </div>
                <div class="form-group">
                    <label id="CoverPreviewLabel">In Use:</label>
                    <img id="CoverPreviewImage" src="{{ user.CoverImage }}" alt="Preview" style="max-width: 100px; max-height: 100px;">
                </div>
                <div class="form-group">
                    <label class="form-label">Position:</label>
                    <input type="text" class="form-control" id="Position" name="Position" value="{{ user.Position }}" >
                  </div>
                <div class="form-group">
                  <label class="form-label">DOB:</label>
                  <input type="date" class="form-control" id="DOB" name="DOB" value='{{ user.DOB }}' >
                </div>
                <div class="form-group">
                  <label class="form-label">Designation:</label>
                  <input type="text" class="form-control" id="Designation" name="Designation" value='{{ user.Designation }}' >
                </div>
                
                  <!-- Additional personal information fields can go here -->
              </div>
          </div>

          <div class="section-heading">Socials</div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="form-label">Instagram:</label>
                      <input type="text" class="form-control" id="twitter" name="Instagram" value='{{ user.Socials.Instagram }}'>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Facebook:</label>
                    <input type="text" class="form-control" id="Facebook" name="Facebook"  value='{{ user.Socials.Facebook }}'>
                </div>
                  <div class="form-group">
                      <label class="form-label">YouTube:</label>
                      <input type="text" class="form-control" id="YouTube" name="YouTube"  value='{{ user.Socials.YouTube }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">DriveLink:</label>
                      <input type="text" class="form-control" id="DriveLink" name="DriveLink"  value='{{ user.Socials.DriveLink }}'>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="form-label">LinkedIn:</label>
                      <input type="text" class="form-control" id="linkedin" name="LinkedIn"  value='{{ user.Socials.LinkedIn }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">SnapChat:</label>
                      <input type="text" class="form-control" id="SnapChat" name="SnapChat" value='{{ user.Socials.SnapChat }}' >
                  </div>
                  <div class="form-group">
                      <label class="form-label">GoogleMapUrl:</label>
                      <input type="text" class="form-control" id="GoogleMapUrl" name="GoogleMapUrl"  value='{{ user.Socials.GoogleMapUrl }}' >
                  </div>
                  <!-- Additional social media fields can go here -->
              </div>
          </div>

          <div class="section-heading">About</div>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="form-label">About Text:</label>
                      <textarea class="form-control" id="aboutText" name="aboutText" rows="4" value='{{ user.About.AboutText }}'>{{ user.About.AboutText }}</textarea>
                  </div>
              </div>
          </div>

          <div class="section-heading">Payments</div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="form-label">PayPal:</label>
                      <input type="text" class="form-control" id="paypal" name="paypal" value='{{ user.Payment.PayPal }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Paytm:</label>
                      <input type="text" class="form-control" id="Paytm" name="Paytm"  value='{{ user.Payment.Paytm }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">PhonePe:</label>
                      <input type="text" class="form-control" id="PhonePe" name="PhonePe"  value='{{ user.Payment.PhonePe }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">GooglePay:</label>
                      <input type="text" class="form-control" id="GooglePay" name="GooglePay"  value='{{ user.Payment.GooglePay }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">UPI:</label>
                      <input type="text" class="form-control" id="UPI" name="UPI"  value='{{ user.Payment.UPI }}'>
                  </div>
                  
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label class="form-label">Bank Name:</label>
                      <input type="text" class="form-control" id="BankName" name="BankName"  value='{{ user.Payment.BankName }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Bank Account Holder:</label>
                      <input type="text" class="form-control" id="AccountHolderName" name="AccountHolderName"  value='{{ user.Payment.AccountHolderName }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Account Number:</label>
                      <input type="text" class="form-control" id="AccountNumber" maxlength =11  name="AccountNumber"  value='{{ user.Payment.AccountNumber }}'>
                  </div>
                  <div class="form-group">
                      <label class="form-label">IFSC Code:</label>
                      <input type="text" class="form-control" id="IFSC" name="IFSC" maxlength=11   value='{{ user.Payment.IFSC }}'>
                  </div>
                  
                  <!-- Additional payment fields can go here -->
              </div>
          </div>

          <div class="section-heading">Gallery</div>
            <div class="row">
                <div class="col-md-6">
                    <!-- image 1  -->
                    <div class="form-group">
                        <label class="form-label  " for="ProfileImage">Gallery Image 1:</label>
                        <input type="hidden" class="form-control" id="Email" name="DefaultGalleryImg1" value='{{ user.Gallery.IMG1 }}' required >
                        <input type="file" class="form-control" id="GalleryImg1" name="GalleryImg1" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label id="GalleryImg1Label">In Use:</label>
                        <img id="GalleryImg1Image" src="" alt="Preview" style="max-width: 100px; max-height: 100px;">
                    </div>

                    <!-- image 2  -->
                    <div class="form-group">
                        <label class="form-label  " for="ProfileImage">Gallery Image 2:</label>
                        <input type="hidden" class="form-control" id="Email" name="DefaultGalleryImg2" value='{{ user.Gallery.IMG2 }}' required >
                        <input type="file" class="form-control" id="GalleryImg2" name="GalleryImg2" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label id="GalleryImg2Label">In Use:</label>
                        <img id="GalleryImg2Image" src="" alt="Preview" style="max-width: 100px; max-height: 100px;">
                    </div>



                    <!-- image 3  -->
                    <div class="form-group">
                        <label class="form-label  " for="ProfileImage">Gallery Image 3:</label>
                        <input type="hidden" class="form-control" id="Email" name="DefaultGalleryImg3" value='{{ user.Gallery.IMG3 }}' required >
                        <input type="file" class="form-control" id="GalleryImg3" name="GalleryImg3" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label id="GalleryImg3Label">In Use:</label>
                        <img id="GalleryImg3Image" src="" alt="Preview" style="max-width: 100px; max-height: 100px;">
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- image 4  -->
                    <div class="form-group">
                        <label class="form-label  " for="ProfileImage">Gallery Image 4:</label>
                        <input type="hidden" class="form-control" id="Email" name="DefaultGalleryImg4" value='{{ user.Gallery.IMG4 }}' required >
                        <input type="file" class="form-control" id="GalleryImg4" name="GalleryImg4" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label id="GalleryImg4Label">In Use:</label>
                        <img id="GalleryImg4Image" src="" alt="Preview" style="max-width: 100px; max-height: 100px;">
                    </div>

                    <!-- image 5  -->
                    <div class="form-group">
                        <label class="form-label  " for="ProfileImage">Gallery Image 5:</label>
                        <input type="hidden" class="form-control" id="Email" name="DefaultGalleryImg5" value='{{ user.Gallery.IMG5 }}' required >
                        <input type="file" class="form-control" id="GalleryImg5" name="GalleryImg5" accept="image/*">
                    </div>
                    <div class="form-group">
                        <label id="GalleryImg5Label">In Use:</label>
                        <img id="GalleryImg5Image" src="" alt="Preview" style="max-width: 100px; max-height: 100px;">
                    </div>

                </div>
            </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>$(document).ready(function() {
    $('#ProfileImage').change(function() {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#ProfilePreviewImage').attr('src', e.target.result);
                $('#ProfilePreviewLabel').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });

    $('#CoverImage').change(function() {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#CoverPreviewImage').attr('src', e.target.result);
                $('#CoverPreviewLabel').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });


    $('#GalleryImg1').change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#GalleryImg1Image').attr('src', e.target.result);
                $('#GalleryImg1Label').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#GalleryImg2').change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#GalleryImg2Image').attr('src', e.target.result);
                $('#GalleryImg2Label').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#GalleryImg3').change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#GalleryImg3Image').attr('src', e.target.result);
                $('#GalleryImg3Label').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#GalleryImg4').change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#GalleryImg4Image').attr('src', e.target.result);
                $('#GalleryImg4Label').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });

    $('#GalleryImg5').change(function () {
        var input = this;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#GalleryImg5Image').attr('src', e.target.result);
                $('#GalleryImg5Label').text('Preview'); // Change the text to 'Preview'
            };
            reader.readAsDataURL(input.files[0]);
        }
    });


});</script>
    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
